.portifolioWraper {
  margin: 0 auto;
  background: linear-gradient(200deg, #4d1a4d 0%, #65bfc9 80%);
  width: 100%;
  z-index: 0;
  position: relative;
  min-height: 100vh;
  padding: 90px 10rem;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-around;
}

.linkStyle {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 950px) {
  .portifolioWraper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 790px) {
  .portifolioWraper {
    padding: 65px 10px;
  }
}

@media only screen and (max-width: 450px) {
  .portifolioWraper {
    padding: 65px 10px;
    margin: 0;
  }
}
