* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  color: hsl(200, 100%, 90%);
  background-color: black;
  margin: 0;
}

.main {
  width: 100%;
  overflow: hidden;
}
a {
  all: unset;
}
